# Gradle
.gradle/
build/
out/
run/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# Minecraft-specific
logs/
crash-reports/
saves/
mods/
screenshots/
config/
resourcepacks/

# OS-specific
.DS_Store
Thumbs.db

# Minecraft runtime files
usercache.json
usernamecache.json
options.txt

# Legacy Forge launch configs
BloodArsenalReawakened_Client.launch
BloodArsenalReawakened_Server.launch

# Forge MDK leftovers
forge*changelog.txt
